<?xml version="1.0"?>
<ruleset name="WordPress Coding Standards for Plugins">
	<description>Generally-applicable sniffs for WordPress plugins</description>

	<rule ref="WordPress-Core" />
	<rule ref="WordPress-Docs" />
	<rule ref="WordPress-Extra" />

	<!-- Check all PHP files in directory tree by default. -->
	<arg name="extensions" value="php"/>
	<file>.</file>

	<!-- Show progress and sniff codes in all reports -->
	<arg value="ps"/>

	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/includes/libraries/*</exclude-pattern>
	<exclude-pattern>*/tests/*</exclude-pattern>

	<!-- Skip for third-party classes -->
	<exclude-pattern>*/includes/class-noptin-emogrifier.php</exclude-pattern>
	<exclude-pattern>*/includes/class-noptin-background-sync.php</exclude-pattern>
	<exclude-pattern>*/includes/class-noptin-background-mailer.php</exclude-pattern>

	<config name="minimum_supported_wp_version" value="4.7" />

	<rule ref="Generic.WhiteSpace">
		<exclude-pattern>*</exclude-pattern>
	</rule>

	<rule ref="WordPress.NamingConventions.ValidVariableName.UsedPropertyNotSnakeCase">
		<exclude-pattern>*</exclude-pattern>
	</rule>

	<rule ref="Generic.Commenting">
		<exclude-pattern>*</exclude-pattern>
	</rule>

	<rule ref="Squiz.Commenting">
		<exclude-pattern>*</exclude-pattern>
	</rule>

	<rule ref="Internal.NoCodeFound">
		<exclude-pattern>*</exclude-pattern>
	</rule>

	<rule ref="Generic.Formatting.MultipleStatementAlignment.IncorrectWarning">
		<exclude-pattern>*</exclude-pattern>
	</rule>

	<rule ref="WordPress.WhiteSpace.DisallowInlineTabs.NonIndentTabsUsed">
		<exclude-pattern>*</exclude-pattern>
	</rule>

	<rule ref="WordPress.Files.FileName">
		<exclude-pattern>*</exclude-pattern>
	</rule>

	<rule ref="WordPress.NamingConventions.ValidFunctionName.MethodNameInvalid">
		<exclude-pattern>*</exclude-pattern>
	</rule>	

	<rule ref="WordPress.NamingConventions.ValidVariableName.VariableNotSnakeCase">
		<exclude-pattern>*</exclude-pattern>
	</rule>	

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array" value="newsletter-optin-box" />
		</properties>
	</rule>

	<!--
	#############################################################################
	USE THE PHPCompatibility RULESET
	#############################################################################
	-->

	<config name="testVersion" value="5.6-"/>
	<rule ref="PHPCompatibilityWP"/>

</ruleset>
