$noptin_color: #ff6f00;

.noptin-big {
	font-size: 1.5em;
}

.noptin-small {
	font-size: .8em;
	opacity: 0.6;
	font-weight: 400;
}

.noptin-color {
	color: #38f094 !important;
}

.noptin-bg {
	background-color: #38f094 !important;
}

.noptin-divider {
	height: 1px;
	overflow: hidden;
	background-color: #e0e0e0;
}

.noptin-hero {
	margin-bottom: 32px;
	color: #009688;
}

.noptin-col {
	width: 100%;
}

.noptin-nag {
	display: flex;
	flex-flow: column;
}

@media only screen and (min-width: 601px) {
	.noptin-nag {
		flex-flow: row;
	}

	.noptin-nag-item {
		margin-right: 16px;
	}
}

.noptin-padded {
	padding: 10px;
}

#noptin-settings-app .noptin-padded {
	padding-left: 0;
}

.noptin-fields:not(.noptin-email-editor-fields) {
	input[type="text"],
	input[type="number"],
	input[type="email"] {
		font-size: 13px;
		padding: 6px 8px;
		box-shadow: 0 0 0 transparent;
		transition: box-shadow .1s linear;
		border-radius: 4px;
		border: 1px solid #8d96a0;
		border-style: solid;
	}

	input[type="checkbox"] {
		border-radius: 4px;
		border: 1px solid #8d96a0;
		margin: 0 6px 0 0;
	}
}

.noptin-fields {
	input[type="text"],
	input[type="number"],
	input[type="email"],
	select {
		width: 100%;
	}
}

.noptin-text-wrapper .noptin-input-box {
	border-style: solid;
	width: 100%;
}

.noptin-field-editor input[type="text"],
.noptin-field-editor input[type="number"],
.noptin-field-editor select {
	width: 100%;
	max-width: 100%;
}

.noptin-select-wrapper {
	margin-bottom: 32px;

	.popper & {
		margin-bottom: 0;
	}

	select {
		border-style: solid;
		width: 100%;
	}
}

.noptin-field-editor-body .noptin-select-wrapper {
	margin-bottom: 16px;
}

.noptin-select-wrapper label {
	display: block;
	width: 100%;
}

.noptin-checkbox-wrapper {
	display: flex;
	margin-bottom: 25px;
	margin-top: 10px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: relative;
	padding-left: 40px;
}

.noptin-checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #eee;
	border: 2px solid #6c7781;
	border-radius: 2px;
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.noptin-checkbox-wrapper:hover input~.noptin-checkmark,
.noptin-radio-wrapper:hover input~.noptin-checkmark {
	background-color: #ddd;
}

.noptin-checkbox-wrapper input:checked~.noptin-checkmark,
.noptin-radio-wrapper input:checked~.noptin-checkmark {
	background-color: #1ea9ea;
	border: none;
}

.noptin-checkmark:after {
	content: "";
	position: absolute;
	display: none;
	left: 8px;
	top: 4px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.noptin-checkbox-wrapper input:checked~.noptin-checkmark:after,
.noptin-radio-wrapper input:checked~.noptin-checkmark:after {
	display: block;
}

.noptin-text-wrapper {
	margin-top: 16px;
	margin-bottom: 16px;
	display: block;
}

.noptin-field-editor-body .noptin-text-wrapper {
	margin-bottom: 16px;
	margin-top: 8px;
}

.noptin-label {
	flex: 1 0 0;
}

.noptin-textarea-wrapper label {
	display: block;
	margin-bottom: 6px;
	margin-top: 20px;
}

.noptin-textarea-wrapper textarea {
	width: 100%;
	height: 80px;
	margin-bottom: 32px;
	border-style: solid;
}

.noptin-textarea-wrapper .CodeMirror {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	padding: 4px;
	margin-top: 20px;
}

.noptin-image-wrapper {
	margin-bottom: 10px;
	margin-top: 10px;
}

.noptin-image-wrapper .image-uploader {
	display: flex;
}

.noptin-fields .noptin-image-wrapper input[type="text"],
.noptin-fields .noptin-image-wrapper input[type="number"],
.noptin-fields .noptin-image-wrapper input[type="email"] {
	padding: 4px 8px;
}

.noptin-fields .noptin-image-wrapper input[type="button"] {
	margin-left: 4px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	border: none;
}

.noptin-radio-wrapper {
	margin-bottom: 15px;
	margin-top: 32px;
	display: block;
}

.noptin-radio-wrapper .noptin-checkmark {
	border-radius: 50%;
}

.noptin-radio-wrapper span:first-child {
	font-weight: 500;
}

.noptin-radio-wrapper label {
	display: block;
	margin-bottom: 12px;
	position: relative;
	padding-left: 35px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.noptin-color-wrapper {
	display: flex;
	margin-bottom: 12px;
}

.noptin-radio-button-wrapper .noptin-buttons {
	display: flex;
	padding-top: 16px;
	flex-wrap: wrap;
}

.noptin-radio-button-wrapper label {
	padding: 0;
	margin: 0;
	margin-bottom: 32px;
}

.noptin-radio-button-wrapper label span {
	padding: .5em 1em;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	margin-right: 3px;
}

.noptin-radio-button-wrapper label input:checked+span {
	background-color: #1ea9ea;
	color: #fff;
}

/* Quick Editor */

.noptin-form-editor-step {
	min-width: 400px;
	max-width: 100%;
}

.noptin-form-editor-step .noptin-text-wrapper>span,
.noptin-optin_types-wrapper>label,
.noptin-templates-wrapper>label,
.noptin-templates-select>label:not(.noptin-checkbox-wrapper) {
	display: block;
	width: 100%;
	display: block;
	width: 100%;
	font-size: 18px;
	margin-bottom: 4px;
	font-weight: 500;
}

.noptin-form-editor-step .noptin-text-wrapper input {
	background: #e0e0e0;
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
	border: 1px solid #9e9e9e;
	border-radius: 2px;
	color: #686868;
	padding: 0.625em 0.4375em;
	width: 100%;
}

.noptin-optin_types {
	display: flex;
}

.noptin-templates {
	display: flex;
}

.noptin-template {
	width: 50%;
}

.noptin-title-editor,
.noptin-note-editor,
.noptin-description-editor {
	margin-bottom: 48px;
}

.noptin-template .noptin-popup-form-wrapper {
	transform: scale(0.8);
}

.noptin-optin_type {
	margin-right: 16px;
	margin-top: 16px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-width: 160px;
	min-height: 160px;
}

.noptin-optin_type .noptin-optin_type-icon {
	font-size: 32px;
	margin-left: -8px;
	margin-bottom: 16px;
}

.noptin-optin_type.noptin-popup,
.noptin-optin_type.noptin-popup h3 {
	background-color: #F44336;
	color: #fff;
}

.noptin-optin_type.noptin-inpost,
.noptin-optin_type.noptin-inpost h3 {
	background-color: #388e3c;
	color: #fff;
}

.noptin-optin_type.noptin-sidebar,
.noptin-optin_type.noptin-sidebar h3 {
	background-color: #00bcd4;
	color: #fff;
}

.noptin-optin_type:hover,
.noptin-optin_type:hover h3 {
	background-color: #fff;
	color: #333;
}

.noptin-form-editor-step .noptin-text-wrapper input:focus {
	background-color: #fff;
	border-color: #007acc;
	color: #1a1a1a;
	outline: 0;
}

.noptin-templates-select .dd-option-image,
.noptin-templates-select .dd-selected-image {
	width: 32px;
	height: 32px;
}

.noptin-templates-select .dd-selected-text {
	line-height: 32px !important;
	color: #333;
}

.noptin-templates-select {
	margin-right: 16px;
}

.noptin-templates-select .noptin-add-button {
	margin-top: 16px;
}

.noptin-popup-notice {
	margin: 0 0 5px;
	padding: 6px 12px;
	min-height: 50px;
	border-left: 4px solid #00a0d2;
	display: flex;
	align-items: center;
}

.noptin-popup-notice.noptin-is-error {
	border-left-color: #d94f4f;
	background-color: #f9e2e2;
}

.noptin-popup-notice.noptin-is-success {
	border-left-color: #26a69a;
	background-color: #e0f2f1;
}

.wp-core-ui .button-link.noptin-popup-editor-header-button {
	text-decoration: none;
}

.noptin-templates-select {
	.noptin-field-editor {
		min-width: 260px;
	}
}

.noptin-field-editor {

	.noptin-field-editor-field {
		position: relative;
		overflow: hidden;
		word-wrap: break-word;
	}

	.noptin-field-editor-header {
		cursor: move;
		padding: 8px;
		font-size: 13px;
		font-weight: 600;
		line-height: 1.6;
		display: flex;
		border: 1px solid #ddd;

		&:hover {
			border-color: #999;
		}

		.noptin-field-editor-title {
			flex: 1;
		}

		.dashicons {
			cursor: pointer;
			color: #72777c;

			&:hover {
				color: #444;
			}
		}
	}

	.noptin-field-editor-body {
		border: 1px solid #e5e5e5;
		border-top: none;
		padding: 12px;
	}

}

.noptin-field-editor-delete {
	color: #F44336;
}

#noptin-wrapper {

	.notice:not(.noptin-notice),
	div.error:not(.noptin-notice),
	div.updated:not(.noptin-notice) {
		display: none !important;
	}

}

.field-wrapper {
	text-align: left;
}

.noptin-full-screen {
	background: #fff;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100000;
	overflow: auto;
}

.noptin-sortable-ghost {
	background-color: #f3f3f3;
	color: #3c3b3b;
}

.noptin-section-body .oauth-connect,
.noptin-section-body .oauth-disconnect {
	background: #008000;
    border: none;
    display: inline-block;
    padding: 3px 12px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    line-height: 37px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 12px;
}

.noptin-section-body .oauth-disconnect {
    background: #F44336;
}

/** Tools */
.noptin-admin-table.noptin-admin-tools-table {
	margin-bottom: 1em;

	.noptin-tool-row {
		th,td {
			padding: 1.5em;
			border-bottom: solid 1px #eee;
		}
		.name {
			display: block;
			margin-bottom: .5em;
		}
		.noptin-run-tool {
			text-align: right;
		}
	}
}

/** Error Logs*/
#noptin-tools-page {

	.noptin-tool-row th {
		min-width: 120px;
		font-size: 12px;
	}

	.noptin-tool-error th{
		color: #b01d1d;
	}

	.noptin-tool-info th{
		color: #1266bf;
	}

	.noptin-tool-notice th{
		color: #3c47e8;
	}

	.noptin-tool-warning th{
		color: #b59209;
	}

}

.noptin-input-inner {
	position: relative;

	.noptin-input-append {
		position: absolute;
		right: 0;
		top: 0;
		color: gray;
		height: 100%;
		min-width: 30px;
		display: flex;
		align-items: center;
		justify-content: center;

		a {
			text-decoration: none;
			color: grey;
		}
	}
}

.noptin-margin-y {
	margin-bottom: 20px;
	margin-top: 16px;
	display: block;
}

.noptin-sections-wrapper .subsubsub {
	float: none;
}

.noptin-newsletter_page_noptin-addons .notice:not(.noptin-notice) {
	display: none;
}

.noptin-accordion-wrapper {
    border: 1px solid #c3c4c7
}

.noptin-accordion-heading {
    margin: 0;
    border-top: 1px solid #c3c4c7;
    font-size: inherit;
    line-height: inherit;
    font-weight: 600;
    color: inherit
}

.noptin-accordion-wrapper span:first-child .noptin-accordion-heading {
    border-top: none
}

.noptin-accordion-trigger {
    background: #fff;
    border: 0;
    color: #2c3338;
    cursor: pointer;
    display: flex;
    font-weight: 400;
    margin: 0;
    padding: 1em 3.5em 1em 1.5em;
    min-height: 46px;
    position: relative;
    text-align: left;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    -webkit-user-select: auto;
    user-select: auto
}

.noptin-accordion-trigger:active,
.noptin-accordion-trigger:hover{
    background: #f6f7f7
}

.noptin-accordion-trigger:focus {
    color: #1d2327;
    border: none;
    box-shadow: none;
    outline-offset: -1px;
    outline: 2px solid #2271b1;
    background-color: #f6f7f7
}

.noptin-accordion-trigger .title {
    pointer-events: none;
    font-weight: 600;
    flex-grow: 1
}

.noptin-accordion-trigger .icon {
    border: solid #50575e;
    border-width: 0 2px 2px 0;
    height: .5rem;
    pointer-events: none;
    position: absolute;
    right: 1.5em;
    top: 50%;
    transform: translateY(-70%) rotate(45deg);
    width: .5rem
}

.noptin-accordion-trigger .badge {
    padding: .1rem .5rem .15rem;
    color: #2c3338;
    font-weight: 600
}

.noptin-accordion-trigger .badge.blue {
    border: 1px solid #72aee6
}

.noptin-accordion-trigger .badge.orange {
    border: 1px solid #dba617
}

.noptin-accordion-trigger .badge.red {
    border: 1px solid #e65054
}

.noptin-accordion-trigger .badge.green {
    border: 1px solid #00ba37
}

.noptin-accordion-trigger .badge.purple {
    border: 1px solid #2271b1
}

.noptin-accordion-trigger .badge.gray {
    border: 1px solid #c3c4c7
}

.noptin-accordion-trigger[aria-expanded=true] > .icon {
    transform: translateY(-30%) rotate(-135deg)
}

.noptin-accordion-trigger .dashicons-move {
    margin-right: 4px;
    cursor: move;
    margin-left: -10px;
}

.noptin-accordion-panel {
    margin: 0;
    padding: 1em 1.5em;
    background: #fff
}

.noptin-accordion-panel[hidden] {
    display: none
}

@media screen and (max-width: 782px) {
    .noptin-accordion-wrapper .noptin-accordion-trigger {
        flex-direction:column;
        align-items: flex-start
    }

    .noptin-accordion-trigger .badge {
        margin: 1em 0 0
    }
}

.wp-core-ui .button.noptin-button-standout {
	height: 37px;
    min-width: 124px;
    background-color: #ff5722;
    color: #fff;
    border-color: #d84315;
	line-height: 35px;
    text-align: center;

	.dashicons {
		vertical-align: middle;
	}
}

.wp-core-ui .button.noptin-button-standout:focus {
	box-shadow: 0 0 0 1px #fff,0 0 0 3px #d84315;
	color: #fff;
}

.noptin-badge {
    background-color: #efeeea;
    color: #241c15;
    white-space: nowrap;
    border-radius: 200px;
    height: 24px;
    line-height: 24px;
    padding: 3px 9px;
    display: inline-block;

	&.info {
		background-color: #c5dbf2;
		color: #241c15
	}

	&.success {
		background-color: #d8eacc;
		color: #241c15
	}

	&.warning {
		background-color: #fbeeca;
		color: #241c15
	}

	&.error {
		background-color: #fbcfbd;
		color: #241c15
	}

	&.new {
		background-color: #f9e0fa;
		color: #241c15
	}

	&.notification {
		background-color: #f25f25;
		color: #ffffff
	}

	&.notification::selection {
		background-color: rgba(255,255,255,0.8)
	}

	&.pro {
		background-color: rgba(36,28,21,0.7);
		color: #ffffff
	}

	&.pro::selection {
		background-color: rgba(255,255,255,0.8)
	}

	&.dot {
		font-size: 6px;
		margin-right: 18px
	}
}

.noptin-form-tab-content {
	display: none;

	&.noptin-form-tab-content-active {
		display: block;
	}

	h2 {
		padding-left: 0 !important;
	}
}

#noptin-form-welcome-email-content_ifr {
	min-height: 300px;
}

.noptin-checkbox-list-wrap {
	overflow: auto;
    min-height: 42px;
    max-height: 200px;
    padding: 0 .9em;
    border: solid 1px #dfdfdf;
    background-color: #fdfdfd;
}

#noptin-form-editor-new {

	.inside {
		margin: 0;
    	padding: 0;
	}

	#noptin-form-editor-container {
		overflow: hidden;
    	background: #fff;
		display: flex;
    	flex-wrap: wrap;
	}

	.noptin-tab-list {
		margin: 0;
		flex: 0 0 200px;
		line-height: 1em;
		padding: 0 0 10px;
		position: relative;
		background-color: #fafafa;
		border-right: 1px solid #eee;
		box-sizing: border-box;

		li {
			margin: 0;
			padding: 0;
			display: block;
			position: relative;

			a {
				margin: 0;
				padding: 10px;
				display: block;
				box-shadow: none;
				text-decoration: none;
				line-height: 20px!important;
				border-bottom: 1px solid #eee;
			}

			&.active a {
				color: #555;
				position: relative;
				background-color: #eee;
			}

		}
	}

	.noptin-form-tab-content {
		flex: 1;
    	box-sizing: border-box;
		padding: 1em 1.5em;
		color: #555;

		.noptin-field-label {
			line-height: 1.3;
    		font-weight: 600;
			font-size: 14px;
			margin-bottom: 6px;
    		display: block;
		}

		.noptin-tip {
			color: #8d8d8d;
		}

		.noptin-text {
			width: 100%;
			max-width: 30em;
		}

	}

}

.noptin-label-span {
	margin-bottom: 4px;
    display: block;
}

.noptin-help-text {
	color: #8e8e8e;
	display: block;
    font-size: 13px;
}

#noptin-wrapper .noptin-admin-field-big {
    width: 100%;
    max-width: 400px;
    font-size: 13px;
}

.noptin-inline-block {
	display: inline-block;
}

#noptin-wrapper .noptin-list-table-misc {
	color: green;
    font-weight: bold;
    margin-bottom: 0;

	&.noptin-list-table-misc-error {
		color: #e65100;
	}
}

.noptin-checkbox-zone {
	overflow: auto;
	min-height: 42px;
	max-height: 200px;
	padding: 0 .9em;
	border: solid 1px #dfdfdf;
	background-color: #fdfdfd;
}

.noptin-sections-wrapper .subsubsub li:last-child .subsubsub_sep {
	display: none;
}

.noptin-upsell-wrapper {
	background: #fff;
	border: 1px solid #c3c4c7;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
	box-sizing: border-box;
	margin-bottom: 20px;
	padding: 1em 1em 1.25em;

	&__button {
		margin-top: 1em;
	}

}

.noptin-component__section {
	margin-bottom: 1.5rem;

	.components-card__header {
		padding: 8px 24px;

		h3 {
			margin: 0;
		}	
	}

	.noptin-mb0 {
		margin-bottom: 0 !important;
	}

}

.noptin__section-footer {
	padding: 16px;
}
