@import 'util/variables';
@import 'util/mixins';
@import 'util/breakpoints';

.noptin-table {
	margin-bottom: $gap-largest;

	.components-card__footer {
		flex-direction: column;

		> * {
			padding-right: 0;
		}
	}

	$row-text-height: 1.1375rem;
	$row-height: '#{$gap * 2} + #{$row-text-height} + 1px';
	$header-row-height: '#{$gap-smaller * 2} + #{$row-text-height} + 1px';
	&.is-empty {
		align-items: center;
		background: $gray-100;
		color: $gray-700;
		display: flex;

		height: calc(#{$header-row-height} + ( #{$row-height} ) * var(--number-of-rows));
		justify-content: center;
		padding: $gap;
		text-align: center;
	}
}

.noptin-table__header,
.noptin-table__item {

	&.is-checkbox-column {
		width: 33px;
		max-width: 33px;
		padding-right: 0;
		padding-left: $gap;
		& + th {
			border-left: 0;
		}
	}
}

.noptin-table__header {

	&.is-sortable {

		svg {
			visibility: hidden;
			margin-left: $gap-smallest;
		}

		&.is-sorted .components-button,
		.components-button:hover,
		.components-button:focus {
			svg {
				visibility: visible;
			}
		}
	}
}

.noptin-table__summary {
	text-align: center;
	margin: 0;
}

.noptin-table__summary-item {
	display: inline-block;
	margin-bottom: 0;
	margin-left: $gap-smaller;
	margin-right: $gap-smaller;

	.noptin-table__summary-label,
	.noptin-table__summary-value {
		display: inline-block;
	}

	.noptin-table__summary-label {
		margin-left: $gap-smallest;
	}

	.noptin-table__summary-value {
		font-weight: 600;
	}
}

.noptin-pagination__page-arrows-buttons .components-button-group .components-button {
	box-shadow: none;
	border: $border-width solid $gray-300;
}

.noptin-pagination__per-page-picker {

	.components-base-control {

		.components-base-control__field {
			display: flex;
			flex-direction: row;
			align-items: baseline;
			margin-bottom: 0;
		}

		.components-select-control__input {
			width: 60px;
			height: 34px;
			box-shadow: none;
		}

		.components-base-control__label {
			margin-right: calc($spacing / 2);
		}

		label.components-input-control__label {
			font-size: 13px;
			font-size: 0.8125rem;
			line-height: 18px;
			font-weight: 400;
			text-transform: none;
		}
	}
}
