@import 'util/variables';
@import 'util/mixins';
@import 'util/breakpoints';

#noptin-collection__overview-app {

	.noptin-heading-text {
		line-height: 1.2;
		margin: 0px;
		color: currentColor;
		font-size: 16px;
		font-weight: 600;
	}
}

.hizzle-record-tabs {

	> .components-tab-panel__tabs {
		border: 1px solid #9E9E9E;
		background-color: #fff;
		margin-bottom: 1rem;
	}
}

.noptin-table {
	margin-bottom: $gap-largest;

	.noptin-table__actions {
		display: inline-flex;
		justify-content: flex-end;
		align-items: center;

		> * {
			margin-right: $gap;

			&:last-child {
				margin-right: 0;
			}
		}

		> div {
			width: 100%;
		}
	}

	.components-card__footer {
		flex-direction: column;

		> * {
			padding-right: 0;
		}
	}

	$row-text-height: 1.1375rem;
	$row-height: '#{$gap * 2} + #{$row-text-height} + 1px';
	$header-row-height: '#{$gap-smaller * 2} + #{$row-text-height} + 1px';
	&.is-empty {
		align-items: center;
		background: $gray-100;
		color: $gray-700;
		display: flex;

		height: calc(#{$header-row-height} + ( #{$row-height} ) * var(--number-of-rows));
		justify-content: center;
		padding: $gap;
		text-align: center;
	}

	.noptin-ellipsis-menu {
		justify-content: flex-end;
		display: flex;
	}
}

.noptin-table__caption {
	@include font-size( 24 );
	text-align: left;
}

.noptin-table__table {
	overflow-x: auto;

	table {
		border-collapse: collapse;
		width: 100%;
	}

	tr:hover,
	tr:focus-within {
		background-color: $gray-200;
		td,
		th {
			background: transparent;
		}
	}
}

.noptin-table__header,
.noptin-table__item,
.noptin-table__empty-item {
	padding: $gap $gap-large;
}

.noptin-table__row {
	position: relative;
}

.noptin-table__header,
.noptin-table__item {
	@include font-size( 13 );
	text-align: left;
	border-bottom: 1px solid $table-border;

	> a:only-child {
		display: block;

		&::after{
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 1;
			pointer-events: auto;
			content: "";
			background-color: rgba(0,0,0,0);
		}
	}

	.is-placeholder {
		@include placeholder();
		display: inline-block;
		height: 16px;
		max-width: 120px;
		width: 80%;
	}

	&:not(.is-left-aligned) {
		text-align: right;

		button {
			justify-content: flex-end;
			padding-right: 24px;
			padding-left: 24px;
		}
	}

	&.is-numeric .is-placeholder {
		max-width: 40px;
	}

	.is-negative {
		color: $alert-red;
		font-weight: bold;
	}

	&.is-sorted {
		background-color: $gray-100;
	}

	&.is-checkbox-column {
		width: 33px;
		max-width: 33px;
		padding-right: 0;
		padding-left: $gap;
		& + th {
			border-left: 0;
		}
	}
}

.noptin-table tr:last-child .noptin-table__item {
	border-bottom: 0;
}

.noptin-table__empty-item {
	text-align: left;
	@include font-size( 18 );
	color: $gray-700;
	font-weight: bold;
    padding: 2rem;

	@include breakpoint( '<782px' ) {
		@include font-size( 13 );
	}
}

th.noptin-table__item {
	font-weight: normal;
}

.noptin-table__header {
	padding: $gap-smaller $gap-large;
	background-color: #f8f9fa;
	font-weight: bold;
	white-space: nowrap;
	min-width: 160px;

	&.is-left-aligned.is-sortable {
		padding-left: $gap;
		svg {
			display: inline-flex;
			order: 1;
			margin-left: 0;
		}
	}

	.components-button {
		height: auto;
		width: 100%;
		text-align: left;
		vertical-align: middle;
    	line-height: 1;
		font-weight: bold;
		background: transparent !important;
		box-shadow: none !important;

		&.has-icon {
			justify-content: flex-start;
		}
	}

	&.is-sortable {
		padding: 0;

		svg {
			visibility: hidden;
			margin-left: $gap-smallest;
		}

		&.is-sorted .components-button,
		.components-button:hover,
		.components-button:focus {
			svg {
				visibility: visible;
			}
		}
	}
}

.noptin-table__summary {
	text-align: center;
	margin: 0;
}

.noptin-table__summary-item {
	display: inline-block;
	margin-bottom: 0;
	margin-left: $gap-smaller;
	margin-right: $gap-smaller;

	$place-holder-width: 200px;
	.is-placeholder {
		@include placeholder();
		display: inline-block;
		height: 16px;
		width: $place-holder-width;
	}

	.noptin-table__summary-label,
	.noptin-table__summary-value {
		display: inline-block;
	}

	.noptin-table__summary-label {
		margin-left: $gap-smallest;
	}

	.noptin-table__summary-value {
		font-weight: 600;
	}
}

.noptin-pagination__page-arrows-buttons .components-button-group .components-button {
	box-shadow: none;
	border: $border-width solid $gray-300;
}

.noptin-pagination__per-page-picker {

	.components-base-control {

		.components-base-control__field {
			display: flex;
			flex-direction: row;
			align-items: baseline;
			margin-bottom: 0;
		}

		.components-select-control__input {
			width: 60px;
			height: 34px;
			box-shadow: none;
		}

		.components-base-control__label {
			margin-right: calc($spacing / 2);
		}

		label.components-input-control__label {
			font-size: 13px;
			font-size: 0.8125rem;
			line-height: 18px;
			font-weight: 400;
			text-transform: none;
		}
	}
}

.noptin-collection__wrapper.components-navigator-provider {
	min-height: 100vh;
}

.noptin-collection__upload-wrapper {
	border: solid 1px #a5d6a7;
    padding: 2rem;
    margin-bottom: 2rem;
	background-color: #e8f5e9;
	max-width: 600px;
	display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;

	.components-button {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}

	.components-base-control__field {
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
	}
}
