@import 'util/variables';
@import 'util/mixins';
@import 'util/breakpoints';

.noptin-table .components-card__footer {
	flex-direction: column;
}

.noptin-pagination__page-arrows-buttons .components-button-group .components-button {
	box-shadow: none;
	border: $border-width solid $gray-300;
}

.noptin-pagination__per-page-picker {

	.components-base-control {

		.components-base-control__field {
			display: flex;
			flex-direction: row;
			align-items: baseline;
			margin-bottom: 0;
		}

		.components-select-control__input {
			width: 60px;
			height: 34px;
			box-shadow: none;
		}

		.components-base-control__label {
			margin-right: calc($spacing / 2);
		}

		label.components-input-control__label {
			font-size: 13px;
			font-size: 0.8125rem;
			line-height: 18px;
			font-weight: 400;
			text-transform: none;
		}
	}
}
