.noptin-big {
    font-size: 1.5em;
}

.noptin-small {
    font-size: 0.8em;
}

.wrap.noptin-container h1 {
    font-size: 50px;
}

.noptin-color {
    color: #38f094 !important;
}

.noptin-bg {
    background-color: #38f094 !important;
}

.noptin-shadow {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.noptin-divider {
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
}


/* Cards */

.noptin-card-panel {
    transition: all .25s;
    padding: 20px;
    margin: .5rem 0 1rem;
    border-radius: 2px;
    background-color: #fff
}

.noptin-card {
    position: relative;
    margin: .5rem 0 1rem;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px
}

.noptin-card-title {
    font-size: 24px;
    font-weight: 300
}

.noptin-card-content {
    padding: 20px;
    border-radius: 0 0 2px 2px
}

.noptin-container {
    margin: 0;
    max-width: 1000px;
    margin-top: 1rem;
}

.noptin-row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px
}

.noptin-row:after {
    content: "";
    display: table;
    clear: both
}

.noptin-col {
    width: 100%;
}

.noptin-nag {
    display: flex;
    flex-flow: column;
}

@media only screen and (min-width: 601px) {
    .noptin-nag {
        flex-flow: row;
    }
    .noptin-nag-item {
        margin-right: 16px;
    }
}

.noptin-popup-designer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -20px;
    padding-left: 20px;
    min-height: calc(100vh - 32px);
    background: #fff;
    z-index: 100;
}

.noptin-list {
    padding: 20px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

.noptin-list.not-found {
    align-items: center;
}

.noptin-list-inner {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    width: 100%;
    max-width: 720px;
}

.noptin-list-inner-not-found p {
    font-size: 24px;
}

.noptin-list-inner-not-found div {
    display: flex;
    justify-content: center;
}

.noptin-list-header {
    display: flex;
    margin-bottom: 20px;
}

.noptin-list-action {
    flex: 2;
}

.noptin-list-filter {
    border-bottom: 1px solid #ecedee;
    flex: 1;
}

.noptin-list-filter input {
    width: auto;
    background: transparent;
    box-shadow: 0 0 0 !important;
    border: 0;
    margin-bottom: 3px;
    padding: 12px 0 12px 50px;
    outline: none !important;
}

.noptin-list-filter .dashicons {
    margin-top: 4px;
    font-size: 30px;
}

.noptin-list-table {
    border-collapse: collapse;
    width: 100%;
}

.noptin-list-table th {
    color: #666;
    text-align: left;
    text-transform: uppercase;
    border-bottom: 1px solid #ecedee;
    font-size: 14px;
    padding: 15px;
    vertical-align: top;
    position: relative;
}

.noptin-list-table td {
    color: #666;
    text-align: left;
    border-bottom: 1px solid #ecedee;
    font-size: 14px;
    padding: 15px;
    vertical-align: top;
    position: relative;
}

.noptin-list-table td:first-child {
    width: 60%;
}

.noptin-list-table .status-Inactive {
    color: #F44336;
}

.noptin-list-table .status-Active {
    color: #4CAF50;
}

.noptin-list-table a {
    color: #1ea9ea;
    text-decoration: none;
    border: 0;
}

.noptin-list-table .noptin-delete {
    color: #F44336;
}

.noptin-list-table .noptin-form-actions {
    display: none;
}

.noptin-list-table tr {
    transition: all .3s ease;
}

.noptin-list-table tr:hover .noptin-form-actions {
    display: block;
}

.noptin-list-table tr:hover {
    background: #FAFAFA;
}

.noptin-popup-editor-title {
    flex-grow: 7.5;
    font-size: 24px;
}

.noptin-popup-editor-toolbar {
    flex-grow: 1.5;
}

.noptin-popup-editor-header {
    min-height: 64px;
    display: flex;
    align-items: center;
}

.noptin-popup-editor-header .noptin-popup-editor-header-button {
    margin: 0 12px 0 3px;
    padding: 0 12px 2px;
    height: 33px;
    line-height: 32px;
    font-size: 13px;
    font-weight: 500;
}

.noptin-popup-editor-body {
    display: flex;
}

.noptin-popup-editor-main {
    flex-grow: 7;
    border-right: 1px solid #e2e4e7;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 200px);
    padding: 40px;
}

.noptin-popup-editor-sidebar {
    flex-grow: 3;
    max-width: 340px;
    max-height: calc(100vh - 100px);
    overflow-y: scroll;
}

.noptin-popup-editor-sidebar-header {
    padding-left: 4px;
    background: #f3f4f5;
}

.noptin-popup-editor-sidebar-header ul {
    display: flex;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
}

.noptin-popup-editor-sidebar-header ul li {
    margin: 0;
    padding: 0;
}

.noptin-popup-editor-sidebar-settings,
.noptin-popup-editor-sidebar-design {
    background: transparent;
    border: none;
    border-radius: 0;
    cursor: pointer;
    height: 48px;
    padding: 3px 15px;
    margin-left: 0;
    font-weight: 400;
    color: #191e23;
    outline-offset: -1px;
}

.noptin-popup-editor-sidebar-settings.active,
.noptin-popup-editor-sidebar-design.active {
    border-bottom: 2px solid #4dd0e1;
    outline: none;
}

.noptin-popup-editor-sidebar-settings:active,
.noptin-popup-editor-sidebar-design:active {
    border-bottom: 2px solid #4dd0e1;
    outline: none;
}

.noptin-popup-editor-panel {
    border-top: 1px solid #e2e4e7;
    position: relative;
}

.noptin-popup-editor-panel:last-child {
    border-bottom: 1px solid #e2e4e7;
}

.noptin-popup-editor-panel-header {
    padding: 10px;
}

.noptin-popup-editor-panel-title {
    display: block;
    padding: 0;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    transition: background .1s ease-in-out;
    color: #555d66;
    font-weight: 500;
    cursor: pointer;
}

.noptin-popup-editor-panel-toggle {
    position: absolute;
    right: 10px;
    color: #e2e4e7;
}

.noptin-popup-editor-panel-open .dashicons-arrow-down-alt2 {
    display: none;
}

.noptin-popup-editor-panel-closed .dashicons-arrow-up-alt2 {
    display: none;
}

.noptin-popup-editor-panel-body {
    overflow: hidden;
    padding: 0 20px;
}

.noptin-popup-editor-panel-closed > .noptin-popup-editor-panel-body {
    height: 0;
}

.noptin-popup-editor-panel-open > .noptin-popup-editor-panel-body {
    height: auto;
}

.noptin-padded {
    padding: 10px;
}

.noptin-popup-editor-sidebar input[type="text"] {
    font-size: 13px;
    padding: 6px 8px;
    box-shadow: 0 0 0 transparent;
    transition: box-shadow .1s linear;
    border-radius: 4px;
    border: 1px solid #8d96a0;
    width: 90%;
}

.noptin-popup-editor-sidebar select {
    width: 90%;
}

.noptin-select-wrapper {
    margin-bottom: 32px;
}

.noptin-popup-editor-sidebar [type="checkbox"] {
    border-radius: 4px;
    border: 1px solid #8d96a0;
    margin: 0 6px 0 0;
}

.noptin-checkbox-wrapper,
.noptin-switch-wrapper {
    display: flex;
    margin-bottom: 20px;
    margin-top: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    padding-left: 30px;
}

.noptin-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.noptin-checkbox-wrapper:hover input~.noptin-checkmark,
.noptin-radio-wrapper:hover input~.noptin-checkmark {
    background-color: #ccc;
}

.noptin-checkbox-wrapper input:checked~.noptin-checkmark,
.noptin-radio-wrapper input:checked~.noptin-checkmark {
    background-color: #1ea9ea;
}

.noptin-checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.noptin-checkbox-wrapper input:checked~.noptin-checkmark:after,
.noptin-radio-wrapper input:checked~.noptin-checkmark:after {
    display: block;
}

.noptin-text-wrapper {
    margin-top: 16px;
    margin-bottom: 32px;
    display: block;
}

.noptin-label {
    flex: 1 0 0;
}

.noptin-add-button,
.noptin-add-button:hover,
.noptin-add-button:active,
.noptin-add-button:visited {
    background: #1ea9ea;
    border: 1px solid #1ea9ea;
    color: #fff;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.noptin-switch-slider {
    position: relative;
    display: flex;
    width: 36px;
    height: 18px;
    cursor: pointer;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    background-color: #eee;
    -webkit-transition: .4s;
    transition: .4s;
    margin-right: 10px;
}

input:checked+.noptin-switch-slider {
    justify-content: flex-end;
}

.noptin-switch-slider span {
    background-color: #9e9e9e;
    -webkit-transition: .4s;
    transition: .4s;
    width: 18px;
    height: 12px;
    border-radius: 5px;
}

input:checked+.noptin-switch-slider span {
    background-color: #4CAF50;
}

input:focus+.noptin-switch-slider span {
    background-color: #2196F3
}

.noptin-textarea-wrapper label {
    display: block;
    margin-bottom: 6px;
    margin-top: 20px;
}

.noptin-textarea-wrapper textarea {
    width: 100%;
    height: 80px;
    margin-bottom: 32px;
}

.noptin-radio-wrapper {
    margin-bottom: 15px;
    margin-top: 32px;
    display: block;
}

.noptin-radio-wrapper .noptin-checkmark {
    border-radius: 50%;
}

.noptin-radio-wrapper span:first-child {
    font-weight: 500;
}

.noptin-radio-wrapper label {
    display: block;
    margin-bottom: 12px;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noptin-radio-button-wrapper .noptin-buttons {
    display: flex;
    padding-top: 20px;
    margin-bottom: 32px;
}

.noptin-radio-button-wrapper label {
    padding: 0;
    margin: 0;
}

.noptin-radio-button-wrapper label span {
    padding: .5em 1em;
    cursor: pointer;
    border: 1px solid #eee;
    margin-right: -1px;
    color: #333;
    background-color: #fafafa;
}

.noptin-radio-button-wrapper label input:checked+span {
    background-color: #1ea9ea;
    color: #fff;
}

#noptin-popup-preview {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100000;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
}

.noptin-preview-showing#noptin-popup-preview {
    display: flex;
}

.noptin-popup-notice {
    margin: 0 0 5px;
    padding: 6px 12px;
    min-height: 50px;
    border-left: 4px solid #00a0d2;
    display: flex;
    align-items: center;
}

.noptin-popup-notice.noptin-is-error {
    border-left-color: #d94f4f;
    background-color: #f9e2e2;
}

.noptin-popup-notice.noptin-is-success {
    border-left-color: #26a69a;
    background-color: #e0f2f1;
}


/***** FRONTEND STYLES*******/

.noptin-preview-showing {
    overflow: auto;
}

.noptin-popup-form-wrapper {
    border: 4px solid #2196f3;
    padding: 20px;
    height: 250px;
    width: 520px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    background-color: #2196f3;
}

.noptin-popup-form-wrapper .noptin-popup-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 36px;
    cursor: pointer;
    display: none;
}

.noptin-popup-form-wrapper .noptin-popup-close path {
    fill: rgba(255, 255, 255, 0.9);
    transition: 0.3s;
}

.noptin-popup-form-wrapper .noptin-popup-close:hover path {
    fill: rgba(255, 255, 255, 0.5);
}

.noptin-popup-form-wrapper form {
    min-width: 80%;
}

.noptin-popup-form-heading {
    font-size: 24px;
    margin-bottom: 20px;
}

.noptin-popup-form-description {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 26px;
}

.noptin-popup-fields::after {
    content: "";
    clear: both;
    display: table;
}

input.noptin-popup-field {
    background-color: rgba(254, 254, 254, 0.5);
    width: 100%;
    display: block;
    color: #111;
    border: none;
    text-align: left;
    padding: 6px 8px;
}

.noptin-popup-new-line .noptin-popup-field {
    margin-bottom: 4px;
}

input[type="submit"].noptin-popup-submit {
    background-color: #e91e63;
    display: block;
    border: none;
    color: #fafafa;
    text-align: center;
    font-weight: 500;
    padding: 6px 8px;
    flex: 1 0 0;
}

input[type="submit"].noptin-popup-botton-block {
    width: 100%;
}

input[type="submit"].noptin-popup-botton-right {
    float: right;
}

.noptin-popup-note {
    font-size: 14px;
}