#noptin-wrapper .notice:not(.noptin-notice),
#noptin-wrapper div.error:not(.noptin-notice),
#noptin-wrapper div.updated:not(.noptin-notice) {
    display: none !important
}

.noptin-admin-table.noptin-admin-tools-table {
    margin-bottom: 1em
}

.noptin-admin-table.noptin-admin-tools-table .noptin-tool-row td,
.noptin-admin-table.noptin-admin-tools-table .noptin-tool-row th {
    padding: 1.5em;
    border-bottom: solid 1px #eee
}

.noptin-admin-table.noptin-admin-tools-table .noptin-tool-row .name {
    display: block;
    margin-bottom: .5em
}

.noptin-admin-table.noptin-admin-tools-table .noptin-tool-row .noptin-run-tool {
    text-align: right
}

#noptin-tools-page .noptin-tool-row th {
    min-width: 120px;
    font-size: 12px
}

#noptin-tools-page .noptin-tool-error th {
    color: #b01d1d
}

#noptin-tools-page .noptin-tool-info th {
    color: #1266bf
}

#noptin-tools-page .noptin-tool-notice th {
    color: #3c47e8
}

#noptin-tools-page .noptin-tool-warning th {
    color: #b59209
}