@import "form-styles.css";

$noptin_color: #ff6f00;

.noptin-shadow {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.noptin-padded {
	padding: 10px;
}

.noptin-big {
	font-size: 20px;
}

.noptin-max-w-200 {
	max-width: 200px !important;
}

.noptin-popup-close {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 36px;
	height: 36px;
	cursor: pointer;
	opacity: 0.6;
	z-index: 99999999;
}

.noptin-slide_in-main-wrapper {

	.noptin-optin-form-wrapper {
		position: fixed;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		z-index: 99999;
		overflow: auto;
		transition: all 2s;
		max-height: 100%;

		.noptin-optin-form {
			justify-content: end;

			.noptin-popup-close {
				top: 1px;
				right: 1px;
				display: inline-block;
			}
		}

		@media only screen and (max-width: 520px) {
			width: 100% !important;
			min-height: 40px !important;
			max-height: 60%;
		}

		&.noptin-slide-from-bottom_right {
			right: -100%;

			&.noptin-showing {
				right: 10px;
				bottom: 10px;

				@media only screen and (max-width: 520px) {
					right: 0;
					bottom: 0;
				}
			}
		}

		&.noptin-slide-from-right_bottom {
			bottom: -100%;
			right: 10px;

			&.noptin-showing {
				bottom: 10px;
				right: 10px;

				@media only screen and (max-width: 520px) {
					right: 0;
					bottom: 0;
				}
			}
		}

		&.noptin-slide-from-bottom_left {
			left: -100%;

			&.noptin-showing {
				left: 10px;
				bottom: 10px;

				@media only screen and (max-width: 520px) {
					left: 0;
					bottom: 0;
				}
			}
		}

		&.noptin-slide-from-left_bottom {
			bottom: -100%;

			&.noptin-showing {
				bottom: 10px;
				left: 10px;

				@media only screen and (max-width: 520px) {
					left: 0;
					bottom: 0;
				}
			}
		}

		&.noptin-slide-from-top_right {
			right: -100%;
			top: 10px;

			&.noptin-showing {
				right: 10px;
				top: 10px;

				.admin-bar & {
					top: 32px;
				}

				@media only screen and (max-width: 520px) {
					right: 0;
					top: 0;

					.admin-bar & {
						top: 32px;
					}
				}
			}
		}

		&.noptin-slide-from-right_top {
			top: -100%;
			right: 10px;

			&.noptin-showing {
				top: 10px;
				right: 10px;

				.admin-bar & {
					top: 32px;
				}

				@media only screen and (max-width: 520px) {
					right: 0;
					top: 0;

					.admin-bar & {
						top: 32px;
					}
				}
			}
		}

		&.noptin-slide-from-top_left {
			left: -100%;
			top: 10px;

			&.noptin-showing {
				left: 10px;
				top: 10px;

				.admin-bar & {
					top: 32px;
				}

				@media only screen and (max-width: 520px) {
					left: 0;
					top: 0;

					.admin-bar & {
						top: 32px;
					}
				}
			}
		}

		&.noptin-slide-from-left_top {
			top: -100%;

			&.noptin-showing {
				top: 10px;
				left: 10px;

				.admin-bar & {
					top: 32px;
				}

				@media only screen and (max-width: 520px) {
					left: 0;
					top: 0;

					.admin-bar & {
						top: 32px;
					}
				}
			}
		}

	}
}

/*********** POPUPS **********/
/*
// .noptin-popup-open     - body class for killing the scroll
// .noptin-popup          - container to scroll within
// .nnoptin-popup-overlay - popup overlay
// .noptin-popup-content  - actual modal
*/
.noptin-popup,
.noptin-popup-overlay {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.noptin-popup {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
	z-index: 100000;
}

.noptin-popup-overlay {
	position: absolute;
	z-index: 100001;
	background: rgba(55, 58, 71, 0.9);
	opacity: 0;
	transition: opacity 0.3s;
}

.noptin-popup-opened .noptin-popup-overlay {
	opacity: 1;
	pointer-events: auto;
}

.noptin-popup-content {
	max-width: 100%;
	min-width: 290px;
	padding: 4em;
	text-align: center;
	position: relative;
	z-index: 100005;
	opacity: 0;
}

.noptin-popup-opened .noptin-popup-content {
	pointer-events: auto;
}

.noptin-popup-opened .noptin-popup-content,
.noptin-popup-closing .noptin-popup-content {
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

.noptin-popup-opened .noptin-popup-content {
	animation-name: noptin-popup-open;
	animation-timing-function: cubic-bezier(0.6,0,0.4,1);

	.noptin-popup-close {
		display: block;
	}
}

.noptin-popup-closing .noptin-popup-content {
	animation-name: noptin-popup-close;
}

@keyframes noptin-popup-open {
	0% { opacity: 0; -webkit-transform: scale3d(0, 0, 1); }
	100% { opacity: 1; -webkit-transform: scale3d(1, 1, 1); }
}

@keyframes noptin-popup-close {
	0% { opacity: 1; }
	100% { opacity: 0; -webkit-transform: scale3d(0.5, 0.5, 1); transform: scale3d(0.5, 0.5, 1); }
}

.noptin-popup-template-holder .noptin-popup-main-wrapper {
	display: none;
}

/* Form Wrapper*/
.noptin-optin-form-wrapper {
	border: 4px solid #eceff1;
	padding: 0;
	display: flex;
	background-color: #eceff1;
	transition: all 0.5s;
	background-position: 50%;
	background-repeat: repeat;
	position: relative;
	box-sizing: border-box;
	margin: auto;
	max-width: 100%;
	width: 100%;
	overflow: hidden;

	* {
		box-sizing: border-box;
	}

	.noptin-inpost-main-wrapper & {
		margin-bottom: 20px;
		margin-top: 20px;
	}

	.noptin-popup-main-wrapper & {
		max-width: 90%;
		width: 520px;
		overflow-x: hidden;
    	overflow-y: auto;
	}

	.noptin-form-main-image{

		flex: 0 0 40%;

		@media screen and (max-width: 520px) {
			display: none;
		}

		img {
			height: 100%;
			width: 100%;
		}
		
	}

	/*image on left of form*/
	&.left {
		flex-direction: row-reverse;

		.noptin-form-main-image {
			margin-right: 20px;
		}

	}

	/*image on right of heading*/
	&.right {

		.noptin-form-main-image {
			margin-left: 20px;
		}
	}

	/*image on top of heading*/
	&.top {
		flex-direction: column-reverse;

		.noptin-form-main-image {
			margin-bottom: 20px;
		}
	}

	/*image at bottom of heading*/
	&.bottom {
		flex-direction: column;

		.noptin-form-main-image {
			margin-top: 20px;
		}
	}

}

.noptin-popup-main-wrapper {
	background: transparent !important;
}

/* The main opt in form */
.noptin-optin-form {
	width: 100%;
	position: relative;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;

	a,
	a:visited,
	a:active,
	a:hover {
		color: inherit !important;
		text-decoration: none;
		box-shadow: 0 1px 0 0 currentColor;
	}

	&.noptin-form-new-line {
		.noptin-form-field {
			margin-bottom: 4px;
		}
	}

	&.noptin-form-single-line {
		@media only screen and (min-width: 520px) {
			.noptin-form-fields {
				display: flex;

				.noptin-form-submit {
    				margin-top: -1px;
				}

				.noptin-optin-field-wrapper:not(.noptin-optin-field-wrapper-hidden) {
					margin-right: 4px;
					margin-bottom: 0;
				}

				.noptin-optin-field-wrapper-hidden {
					display: none !important;
				}

				.noptin-form-field {
					border-radius: 0;
				}
			}
		}
	}

	.noptin-checkbox-form-field{
		margin-right: 4px;
	}
}

/* Form headers */
.noptin-form-header {
	display: flex;
	padding: 20px;
	align-items: center;
	justify-content: center;
	z-index: 100;

	ul {
		text-align: left !important;
		list-style-type: initial;
	}

	/*image on left of heading*/
	&.left {
		flex-direction: row-reverse;
		text-align: left;

		.noptin-form-header-text {
			padding-left: 20px;
		}

		.noptin-form-header-image {
			max-width: 40%;
		}
	}

	/*image on right of heading*/
	&.right {
		text-align: left;

		.noptin-form-header-text {
			padding-right: 20px;
		}

		.noptin-form-header-image {
			max-width: 40%;
		}
	}

	/*image on top of heading*/
	&.top {
		flex-direction: column-reverse;

		.noptin-form-header-text {
			padding-top: 20px;
		}
	}

	/*image at bottom of heading*/
	&.bottom {
		flex-direction: column;
	}

	&.no-image {
		.noptin-form-header-text {
			flex: 1;
		}
	}

	img {
		max-width: 100%;
		max-height: 150px;
	}

	.noptin-form-heading {
		font-size: 1.9rem;
		font-weight: 700;
		line-height: 1.4125;
		padding-top: 4px;

		p {
			padding: 0;
			margin: 0;
			font-size: inherit ! important;
			font-weight: inherit ! important;
		}
	}

	.noptin-form-description {
		font-size: 1rem;
		line-height: 1.3;
		margin-top: 1.125rem;

		p {
			padding: 0;
			margin: 0;
			font-size: inherit ! important;
			font-weight: inherit ! important;
		}
	}
}

/* Form footers */
.noptin-form-footer {
	padding: 20px;
	z-index: 100;

	.noptin-form-fields::after {
		content: "";
		clear: both;
		display: table;
	}

	.noptin-field-email,
	.noptin-field-first_name,
	.noptin-field-last_name,
	.noptin-field-birthday,
	.noptin-field-text,
	.noptin-field-textarea,
	.noptin-field-dropdown,
	.noptin-field-number,
	.noptin-field-date {
		.noptin-label {
			border: 0;
			clip: rect(1px,1px,1px,1px);
			-webkit-clip-path: inset(50%);
			clip-path: inset(50%);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
			word-wrap: normal!important;
		}
	}

	.noptin-optin-field-wrapper:not(.noptin-optin-field-wrapper-hidden) {
		width: 100%;
		display: block;
		text-align: left;
		margin-bottom: 10px;

		.noptin-form-field {
			display: block;
			width: 100%;
			max-width: 100%;
			min-height: calc(1.6em + .9rem + 2px);
			padding: .45rem 1.2rem;
			font-size: 1rem;
			font-weight: 300;
			line-height: 1.6;
			color: #495057;
			background-color: rgba(255, 255, 255, .85);
			background-clip: padding-box;
			border: 1px solid #ced4da;
			border-radius: .25rem;
			 transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
			margin: 0;
			box-shadow: none;

			/* Unstyle the caret on `<select>`s in IE10+. */
			&::-ms-expand {
				background-color: transparent;
				border: 0;
			}

			&:focus {
				color: #495057;
				background-color: #fff;
				border-color: #73b1e9;
				outline: 0;
			}
		}

	}

	.noptin-optin-field-wrapper-hidden {
		display: none !important;
	}

	.noptin-optin-field-wrapper-checkbox {
		input {
			margin-right: 4px;
			outline: 0;
			cursor: pointer;
			text-align: center;
			vertical-align: middle;
			background-color: rgba(255, 255, 255, .85);
		}

		span {
			font-weight: normal;
		}
	}

	.noptin-form-submit {
		padding: .45rem 1.2rem;
		font-size: 1rem;
		line-height: 1.6;
		border-radius: .25rem;
		position: relative;
		color: #fff;
		background-color: #1e73be;
		font-weight: 400;
		text-align: center;
		vertical-align: middle;
		user-select: none;
		background-clip: padding-box;
		border: 1px solid transparent;
		display: inline-block;
		flex: 1 0 0;
		box-shadow: none;
		text-transform: none;
		transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
		box-shadow: none;

		&:focus,
		&:hover {
			box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
			outline: 0 !important;
			border-color: transparent;
		}
	}

	.noptin-form-button-block {
		width: 100%;
		display: block;
	}

	.noptin-form-button-left {
		float: left;
	}

	.noptin-form-button-right {
		float: right;
	}

	.noptin-form-note {
		font-size: 14px;
		margin-top: 10px;

		p {
			padding: 0;
			margin: 0;
			font-size: inherit ! important;
			font-weight: inherit ! important;
		}
	}

	.noptin-gdpr-checkbox-wrapper {
		text-align: left;

		input {
			margin-right: 4px;
			outline: 0;
			cursor: pointer;
			text-align: center;
			vertical-align: middle;
		}

		span {
			font-weight: normal;
		}
	}

}

/* Subscription Checkbox*/
.comment-form-noptin input,
.register-form-noptin input,
.noptin-integration-subscription-checkbox input {
	margin-right: 0.5rem;
}

#noptin_woocommerce_optin_checkbox label {
	font-weight: normal;
	font-size: 1rem;
}

/** Block **/
.wp-block-noptin-email-optin{
	min-height: 280px;
    display: flex;
	align-items: center;
	justify-content: center;

	form {
		width: 100%;
	}

	.noptin_form_title {
		font-size: 23px;
		font-weight: 700;
		line-height: 1.4125;
		padding-top: 4px;
		margin-bottom: 10px;
		margin-top: 16px;
	}

	.noptin_form_description {
		font-size: 16px;
		line-height: 1.3;
		margin-bottom: 10px;
	}

	input.noptin_form_input_email {
		display: block;
		width: 100%;
		min-height: calc(1.6em + .9rem + 2px);
		padding: .45rem 1.2rem;
		font-size: 1rem;
		font-weight: 300;
		line-height: 1.6;
		color: #495057;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid #ced4da;
		border-radius: .25rem;
		transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
		margin: 0;
		box-shadow: none;
		
		/* Unstyle the caret on `<select>`s in IE10+. */
		&::-ms-expand {
			background-color: transparent;
			border: 0;
		}

		&:focus {
			color: #495057;
			background-color: #fff;
			border-color: #73b1e9;
			outline: 0;
		}
	}

	.noptin_form_submit {
		padding: .45rem 1.2rem;
		font-size: 1rem;
		line-height: 1.6;
		border-radius: .25rem;
		position: relative;
		color: #fff;
		background-color: #1e73be;
		font-weight: 400;
		text-align: center;
		vertical-align: middle;
		user-select: none;
		background-clip: padding-box;
		border: 1px solid transparent;
		flex: 1 0 0;
		box-shadow: none;
		text-transform: none;
		transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
		box-shadow: none;
		display: block;
    	width: 100%;
		margin-top: 10px;

		&:focus,
		&:hover {
			box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
			outline: 0 !important;
		}
	}
}

/** Quick Widget */
.noptin_widget .noptin-email-optin-widget {
	box-sizing: border-box !important;
    display: flex;
    justify-content: center;
	align-items: center;
	min-height: 100px;

	&.noptin-email-optin-widget-has-bg {
		min-height: 380px;
		padding: 2rem;
	}

	form {
		width: 100%;
	}

	.noptin_form_input_email {
		display: block;
		width: 100%;
		height: calc(1.6em + .9rem + 2px);
		min-height: calc(1.6em + .9rem + 2px);
		padding: .45rem 1.2rem;
		font-size: 1rem;
		font-weight: 300;
		line-height: 1.6;
		color: #495057;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid #ced4da;
		border-radius: .25rem;
		transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
		margin: 0;
		box-shadow: none;

		/* Unstyle the caret on `<select>`s in IE10+. */
		&::-ms-expand {
			background-color: transparent;
			border: 0;
		}

		&:focus {
			color: #495057;
			background-color: #fff;
			border-color: #73b1e9;
			outline: 0;
		}
	}

	.noptin-widget-submit-input {
		padding: .45rem 1.2rem;
		margin-top: 5px;
		font-size: 1rem;
		line-height: 1.6;
		border-radius: .25rem;
		position: relative;
		font-weight: 400;
		text-align: center;
		user-select: none;
		background-clip: padding-box;
		border: 1px solid transparent;
		display: block;
		width: 100%;
		flex: 1 0 0;
		box-shadow: none;
		text-transform: none;
		transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
		box-shadow: none;

		&:focus,
		&:hover {
			box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
			outline: 0 !important;
		}
	}
}

/* Feedbacks */
.noptin_feedback_error{
	border:1px solid #f44336;
	display:none;
	padding:10px;
	margin-top:10px;
}
