$noptin_color: #ff6f00;

.noptin-spinner {
	display: inline-block;
	width: 64px;
	height: 64px;

	&:after {
		content: " ";
		display: block;
		width: 46px;
		height: 46px;
		margin: 1px;
		border-radius: 50%;
		border: 5px solid #fff;
		border-color: #ff5722 transparent #f44336 transparent;
		animation: noptin-spin 1.2s linear infinite;
	}
}

@keyframes noptin-spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.noptin-shadow {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


.noptin-padded {
	padding: 10px;
}


.noptin-preview-showing {
	overflow: auto;
}

.noptin-popup-main-wrapper {
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
	right: 0;
	z-index: 100000;
    align-items: center;
    justify-content: center;
	background: rgba(96, 125, 139, 0.6);
	overflow: auto;
	display: none;

	.noptin-optin-form-wrapper {
		margin-top: 100px;
	}



	&.open {
		display: flex;
	}
}

/*Popups close button*/
.noptin-form-close {
	position: absolute;
	top: 0;
	right: 0;
	width: 36px;
	height: 36px;
	cursor: pointer;
	display: none;

	&.outside {
		top: -36px;
		right: -36px;
	}

	&.along {
		top: -30px;
		right: -30px;
	}

	&.top-right {
		top: 60px;
		right: 60px;
		position: fixed;
	}

	path {
		fill: rgba(255, 255, 255, 0.9);
		transition: 0.3s;
	}

	&:hover path {
		fill: rgba(255, 255, 255, 0.4);
	}
}

.noptin-preview-showing .noptin-form-close,
.noptin-popup-main-wrapper.open  .noptin-form-close{
	display: inline-block;
}

.noptin-animate-from {
	transform: scale(0) rotate(360deg);
}

.noptin-animate-after {
	transform:scale(1) rotate(0deg);
}

.noptin-optin-form-wrapper {
	border: 4px solid $noptin_color;
	padding: 0;
	display: flex;
	margin-bottom: 20px;
	margin-top: 20px;
	background-color: $noptin_color;
	transition: all 0.5s;
	max-width: 100%;


	/*The main opt in form*/
	form {
		width: 520px;
		max-width: 100%;
		position: relative;
		text-align: center;
		display: flex;
		flex-direction: column;

		a, a:visited, a:active, a:hover {
			color: inherit !important;
			text-decoration: none;
			box-shadow: 0 1px 0 0 currentColor;
		}

		/*Appears at the top of fields and contains title, image and description*/
		.noptin-form-header {
			display: flex;
			padding: 20px;
			flex: 1 0 auto;
			align-items: center;
			justify-content: center;
			font-family: Montserrat, "Helvetica Neue", sans-serif;

			/*image on left of heading*/
			&.left {
				flex-direction: row-reverse;
				text-align: left;

				.noptin-form-header-text {
					padding-left: 20px;
				}

				.noptin-form-header-image {
					max-width: 40%;
				}
			}

			/*image on right of heading*/
			&.right {
				text-align: left;

				.noptin-form-header-text {
					padding-right: 20px;
				}

				.noptin-form-header-image {
					max-width: 40%;
				}
			}

			/*image on top of heading*/
			&.top {
				flex-direction: column-reverse;

				.noptin-form-header-text {
					padding-top: 20px;
				}
			}

			/*image at bottom of heading*/
			&.bottom {
				flex-direction: column;
			}

			img {
				max-width: 100%;
				max-height: 150px;
			}

			.noptin-form-heading {
				font-size: 23px;
    			font-weight: 700;
    			line-height: 1.4125;
    			padding-top: 4px;
			}

			.noptin-form-description {
				font-size: 16px;
    			font-weight: 500;
    			line-height: 1.3;
    			padding-top: 18px;
			}
		}

		/* Contains the form fields and footer texts*/
		.noptin-form-footer {
			padding: 20px;
			flex-shrink: 0;

			.noptin-form-fields::after {
				content: "";
				clear: both;
				display: table;
			}

			.noptin-optin-field-wrapper{
				width: 100%;
				display: block;
				text-align: left;

				.noptin-form-field {
					padding: 11px 32px;
					width: 100%;
					display: block;
					color: #666;
					background: #fff;
    				background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
					border: 1px solid #bbb;
					border-radius: 3px;
					width: 100%;
				}
			}

			.noptin-form-submit {
				background-color: #524b4d;
				display: block;
				border: none;
				color: #fafafa;
				text-align: center;
				font-weight: 500;
				padding: 16px 32px;
				flex: 1 0 0;
    			font-weight: 800;
				box-shadow: none;
				text-transform: none;
			}

			.noptin-form-button-block {
				width: 100%;
			}

			.noptin-form-button-right {
				float: right;
			}

			.noptin-form-note {
				font-size: 14px;
			}
		}

		&.noptin-form-new-line {
			.noptin-form-field {
				margin-bottom: 4px;
			}
		}

		&.noptin-form-single-line {
			.noptin-form-fields {
				display: flex;

				.noptin-form-submit {
					padding: 11px 32px;
				}

				.noptin-optin-field-wrapper {
					margin-right: 4px;
				}

				.noptin-form-field {
					border-radius: 0;
				}
			}
		}
	}
}
