// Globals
$body-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-size-root: 14px;
$expansion-panel-border-radius: 0;
$expansion-panel-content-padding: 8px 16px 16px;
$expansion-panel-header-padding: 16px;