fieldset[disabled] .vue-swatches {
	pointer-events: none
}

.vue-swatches {
	outline: none
}

.vue-swatches__trigger {
	display: inline-block;
	cursor: pointer;
	box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.16), 0 1px 4px 0 rgba(0, 0, 0, 0.12);
}

.vue-swatches__trigger.vue-swatches--is-empty {
	border: 2px solid #ccc
}

.vue-swatches__trigger.vue-swatches--is-disabled {
	cursor: not-allowed
}

.vue-swatches__container {
	box-sizing: content-box;
	padding: 5px;
	margin-right: 10px;
}

.vue-swatches__container:not(.vue-swatches--inline) {
	position: absolute;
	display: block;
	overflow: auto;
	border-radius: 5px;
	box-shadow: 0 2px 3px hsla(0, 0%, 4%, .2), 0 0 0 1px hsla(0, 0%, 4%, .2);
	z-index: 50
}

.vue-swatches__wrapper {
	background-color: inherit
}

.vue-swatches__row {
	font-size: 0
}

.vue-swatches__fallback__wrapper {
	display: table
}

.vue-swatches__fallback__input--wrapper {
	display: table-cell;
	padding-right: 10px;
	width: 100%;
	font-size: 14px
}

.vue-swatches__fallback__input {
	width: 100%;
	padding-top: 6px;
	padding-bottom: 6px;
	border-radius: 5px;
	border: 1px solid #dcdcdc;
	color: #35495e;
	background: #fff
}

.vue-swatches__fallback__button {
	display: table-cell;
	padding: 6px 15px;
	border: 0;
	cursor: pointer;
	font-weight: 700;
	color: #fff;
	background-color: #3571c8;
	border-radius: 5px
}

.vue-swatches-show-hide-enter-active,
.vue-swatches-show-hide-leave-active {
	transition: all .3s ease
}

.vue-swatches-show-hide-enter,
.vue-swatches-show-hide-leave-active {
	opacity: 0
}

.vue-swatches--has-children-centered {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center
}

.vue-swatches__diagonal--wrapper {
	width: 100%;
	height: 100%
}

.vue-swatches__diagonal {
	width: 75%;
	height: 75%;
	background: linear-gradient(to top right, transparent 0, transparent calc(50% - 2.4px), #de080a 50%, transparent calc(50% + 2.4px), transparent)
}

.vue-swatches__swatch {
	position: relative;
	font-size: 0
}

.vue-swatches__swatch:focus,
.vue-swatches__swatch:hover {
	opacity: .9;
	box-shadow: inset 0 0 2px rgba(0, 0, 0, .75);
	outline: none
}

.vue-swatches__swatch.vue-swatches__swatch--border,
.vue-swatches__swatch.vue-swatches__swatch--selected {
	box-shadow: inset 0 0 2px rgba(0, 0, 0, .75)
}

.vue-swatches__swatch .vue-swatches__diagonal--wrapper {
	position: absolute
}

.vue-swatches__check__wrapper {
	position: absolute;
	width: 100%;
	height: 100%
}

.vue-swatches__check__circle {
	width: 21px;
	height: 21px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, .15)
}

.vue-swatches__check__path {
	fill: #fff
}
