name: Deploy to WordPress.org
on:
  release:
    types: [published]
jobs:
  tag:
    name: New release
    runs-on: ubuntu-latest
    steps:
    - name: Configure Git safe directory
      run: git config --global --add safe.directory /github/workspace
    - name: Checkout code
      uses: actions/checkout@v5
    - name: Install SVN
      run: sudo apt-get install subversion -y
    - name: WordPress Plugin Deploy
      id: deploy
      uses: 10up/action-wordpress-plugin-deploy@stable
      env:
        SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
        SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
        SLUG: newsletter-optin-box